:root {
    --letra: Roboto;
    --color-letra-1: white;
    --color-letra-2: black;

}

header {
    background-color: black;
    border: solid 3px red;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:5vh;   
    padding: 5px;
}
.logo {
    width: 13%;
    height: 70%; 
}

.menu-icon {
   width: 20px;
   height: 20px;

}

main {
border: solid 4px red;
background-color: blue;
font-family: var(--letra);
}

footer {
    border: solid 4px red;
    background-color: blue;
}
.try {
    border: solid 2px yellow;
    background-color: lightcoral;
    font-family: var(--letra);
    color: var(--color-letra-1);
    background-image: url(./images/premium_dancer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.reasons {
    border: solid 2px yellow;
    background-color: lightgreen;
    font-family: var(--letra);
    color: var(--color-letra-2);
}

.left-menu {
    border: solid 2px black;
    background-color: fuchsia;
}
.right-menu {
    border: solid 2px black;
    background-color: yellow;
}